.header {
    position: relative;

    &__top {
        background-color: $black;
        font-size: rem(16);
        color: #fff;
        padding: rem(24) 0;
        position: relative;
    }

    &__top-row {
        position: relative;

    }

    &__cabinet {
        color: #fff;
        text-decoration: none;
        font-weight: 600;
        display: flex;
        align-items: center;
    }

    &__cabinet-icon {
        width: 21.37px;
        height: 27.66px;
        margin-top: 3px;
        margin-right: 15px;
        color: #fff;
        stroke: #fff;
        fill: #fff;
    }

    &__cabinet-text {}

    &__md {
        padding: 24px 0;
        background-color: #ECF1F2;
    }

    &__md-row {}

    &__col-md {
        flex: 0 1 17%;
    }

    &__logo-link {}

    &__logo-img {
        display: block;
        max-width: 190px;
        min-width: 119px;
        width: 100%;
    }

    &__col-bg {
        flex: 0 1 31%;
    }

    &__col-lg {
        display: flex;
        flex: 0 1 52%;
        align-items: center;
        justify-content: flex-end;
    }

    &__md-search {
        display: flex;
        flex-direction: row-reverse;
        max-width: 377px;
        width: 100%;
        height: 41px;
        padding: 12px 10px;
        margin-left: auto;
        background-color: #E5E9EA;
        border-radius: 3px;
        border: 1px solid #757777;

    }

    &__md-search div,
    input,
    button {
        height: 100%;
    }

    &__md-search-input {
        width: 100%;
        background: none;
        border: none;
        padding: 0;
        font-family: Montserrat;
        font-weight: 500;
        margin: 0;

        &::placeholder {
            font-family: Montserrat;
            font-weight: 500;
        }

        &:focus {
            outline: none;
        }
    }

    &__md-search-btn {
        background: none;
        border: none;
        cursor: pointer;
        padding: 0 10px;

    }

    &__md-search-icon {
        display: block;
        width: 12.62px;
        height: 12.62px;
        fill: transparent;
        color: #000;
        stroke: #000;
    }

    &__address {
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0 55px 0 0;
    }

    &__address-text {
        padding: 0 0 0 10px;
        font-weight: 600;
    }

    &__address-icon {
        width: 17px;
        height: 24.42px;
    }

    &__phones {
        display: flex;
    }

    &__phones-info {
        display: flex;
        flex-direction: column;
    }

    &__phones-main {
        font-weight: bold;
        text-decoration: none;
        color: $black;
        margin: 0 0 3px 0;
    }

    &__phones-btn {
        @include btn;
        font-weight: 600;
        color: #E8AA31;
        height: initial !important;
        padding: 0;
        text-align: left;
        background: none;
    }

    &__phones-more {
        @include btn;
        margin: 1px 0 0 10px;
    }

    &__phones-more-icon {
        color: $orange;
        fill: $orange;
        stroke: $orange;
        width: 13.58px;
        height: 19.79px;
        pointer-events: none;
    }

    &__phones-list {
        list-style: none;
        margin: 15px 0 0 0;
        padding: 10px;
        font-weight: 600;
        position: absolute;
        background: #fff;
        border: 1px solid #ECF1F2;
        box-shadow: 0px 0px 42px -14px rgba(0, 0, 0, 0.2);
        opacity: 0;
        transition: .3s;

        &.active {
            transform: translateY(10px);
            opacity: 1;
        }
    }

    &__phones-item {
        margin: 10px 0 0 0;

        &:first-child {
            margin: 0 0 0 0;
        }
    }

    &__phones-icon {
        display: none;
    }

    &__phones-link {
        list-style: none;
        color: $black;
        text-decoration: none;

        &:hover {
            list-style: none;
            color: $black;
            text-decoration: none;
        }
    }

    &__favorite {
        margin-left: 30px;
    }

    &__favorite-btn {
        @include btn;
        background: transparent;
    }

    &__favorite-icon {
        width: 28px;
        height: 26px;
    }

    &__order {
        display: flex;
        align-items: center;
        margin-left: 30px;
    }

    &__order-cart {
        position: relative;
        margin: 1px 18px 0 0;
        cursor: pointer;
    }

    &__order-icon {
        color: transparent;
        fill: transparent;
        stroke: #000;
        width: 31px;
        height: 31.83px;
    }

    &__order-cur {
        position: absolute;
        top: -5px;
        right: -5px;
        padding: 2px 5px;
        background: $orange;
        border-radius: 50%;
        color: #fff;
        font-size: 11px;
        font-weight: 500;
    }

    &__order-ui {}

    &__order-sum {
        font-size: 16px;
        font-weight: 500;
    }

    &__order-btn {
        @include btn;
        padding: 0;
        font-size: 16px;
        color: $orange;
        font-weight: 500;
    }

    &__submenu {
        background: $black;
    }

    &__bottom {
        background-color: $black;
        color: #fff;
        padding: rem(24) rem(15) 0 rem(15);
        .row {
            justify-content: flex-end;
        }
    }

    &__bottom-menu {}

    &__bottom-list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    &__bottom-item {
        margin: 0 rem(115) 0 0;

        &:last-child {
            margin-right: 0;
        }
    }

    &__bottom-link {
        font-size: rem(18);
        color: #fff;
        font-weight: 500;
        text-decoration: none;
        padding: rem(10) 0 rem(24) 0;
        display: inline-block;
        border-bottom: 2px solid transparent;
        transition: .2s;

        &:hover {
            text-decoration: none;
            color: $orange;
            border-bottom-color: $orange;
        }
        
        &:first-child {
            padding: 0 0 rem(24) 0;
        }
    }

    &__bottom-submenu {
        position: absolute;
        display: flex;
        background-color: $black;
        width: 100%;
        left: 0;
        padding: 30px 0;
        transition: .3s all;
        z-index: -1;
        opacity: 0;

        &.active {
            z-index: 1;
            opacity: 1;
        }

        &.active-frame {
            opacity: 1;
            transition: .3s;
        }
    }

    &__bottom-submenu-col {
        flex: 0 1 20%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__bottom-submenu-title {
        font-size: rem(16);
        font-weight: 600;
        padding: rem(30) rem(15) rem(30) 0;
    }

    &__bottom-submenu-list {
        list-style: none;
        padding: rem(30) 0;
        margin: 0;
        height: 100%;
        border: 1px solid #5A5A5A;
        border-left: none;
        border-right: none;
    }

    &__bottom-submenu-item {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__bottom-submenu-link {
        text-decoration: none;
        color: #fff;
        font-weight: 500;

        &:hover {
            text-decoration: none;
            color: $orange;

        }
    }

    &__submenu-link {}

    &__bottom-submenu-more {
        margin: 30px 0 0 0;
        color: $orange
    }

}


.menu {

    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        flex-wrap: wrap;
        @include adaptiveValue("gap", 60, 10, 0)
    }

    &__catalog {
        display: block;
        list-style: none;
    }

    &__catalog-text {
        position: relative;
        &_md {
            display: none ;
            order: 0;
        }
        &::after {
            display: none;
            content: '';
            mask-image: url("#{$sprite}arrow-down-phone");
            mask-repeat: no-repeat;
            background-color: #fff;
            position: absolute;
            height: 10px;
            width: 15.9px;
            transform: rotate(-90deg);
            top: 3px;
            right: 0;
        }
    }
    &__item {
        color: #fff;
    }

    &__link {
        text-decoration: none;
        color: #fff;
        transition: .2s;
        line-height: 20px;
        font-size: rem(16);

        &:hover {
            opacity: .6;
        }
    }

}

.burger-menu {
    display: none;
}

@media (max-width:1440px) {
    .header {

        &__phones-main {
            display: none;
        }

        &__phones-info {}

        &__phones-icon {
            display: block;
            width: 100%;
            height: 100%;
            margin: -5px 0 0 0;
        }

        &__phones-btn {
            font-size: 0;
            background-image: url('#{$sprite}phone');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 28px;
            height: 26px !important;
        }

        &__phones-more {
            display: none;
        }

        &__order-ui {
            display: none;
        }

        &__bottom-submenu-title {
            font-size: rem(13);
        }
    }
}

@media (max-width:980px) {
    .header {
        &__bottom-link {
            font-size: 12px;
        }

        &__col-lg {
            flex: 0 1 30%;
        }

        &__col-bg {
            flex: 0 1 50%;
        }

        &__address {
            margin: 0 25px 0 0;
        }
    }
}



@media (max-width:860px) {
    .header {

        &__col-lg {
            flex: 0 1 100%;
            width: 100%;
            justify-content: space-between;
        }

        &__favorite {
            margin: 0;
        }

        &__favorite-btn {
            fill: #fff;
        }

        &__phones-btn {
            fill: #fff;
        }

        &__order {
            margin: 0;
            order: 1;
        }

        &__order-icon {
            stroke: #fff;
        }

        &__top .container {
            padding: 0;
        }

        &__address {
            display: none;
        }

        &__logo {
            min-width: 185px;
        }

        &__md-search {
            display: none;
        }

        &__cabinet {
            margin: 0;
            order: 0;
        }

        &__cabinet-icon {
            width: 26px;
            height: 28px;
            stroke-width: 0.5px;
            margin: -5px 0 0 0;
        }

        &__cabinet-text {
            display: none;
        }

        &__bottom-item {
            margin: 0;
        }

        &__bottom-list {
            flex-direction: column;
        }

        &__bottom-submenu-title {
            margin: 0;
            padding: 0;
        }

        &__bottom-submenu {
            display: block;
            .row {
                flex-direction: column;
                justify-content: flex-start;
            }
        }

        &__bottom-link {
            font-size: 16px;
        }

        &__bottom-submenu-col {
            
            display: block;
        }

        &__bottom-submenu-list {
            border: none;
            display: none;
        }

        &__bottom-submenu-more {
            display: none;
        }

        &__bottom-submenu-title {
            color: #fff;
            font-size: 16px;
            margin: 10px 0;
        }

        &__bottom-submenu-item {
            display: none;
        }
    }

    .menu {
        &__list {
            flex-direction: column;  
            gap: 0;
        }
        &__catalog-text {
            order: 0;
            display: block;
            font-size: 16px;
            color: #fff;
            border-bottom: none;
            &_md {
                display: block;
            }
            &::after {
                display: block;
            }
            &:hover {
                color: #fff;
            }
        }
        &__item {
            margin: 10px 0;
            padding: 0;
            font-size: 16px;
            &:first-child {
                margin: 0 0 10px 0;
            }
        }

        &__link {
            font-size: 16px;
        }
    } 

    .burger-menu {
        display: block;
    }
}

.burger-menu {
    border: none;
    background-color: transparent;
    fill: #fff;
    order: 1;
    svg {
        width: 28px;
        height: 17px !important;
    }
}

.mobile-menu {
    font-family: "Montserrat";
    background-color: $black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: translateX(300%);
    right: -20%;
    padding: 24px 25% 0 15px;
    transition: .3s;
    &.active {
        transform: translateX(0);
    }

    .row {
        flex-direction: column;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0 29px 0;
    }

    &__close-icon {
        width: 16px;
        height: 16px;
        fill: #fff;
        margin: 3px 0 0 0;
    }

    &__back-icon {
        width: 15.35px;
        height: 14.51px;
        fill: #fff;
        margin: 0 10px 0 0;
    }
    &__back {
        color: #fff;
        font-size: 16px;
        display: flex;
        align-items: center;
    }
    
}

